<gh-visualization puzzle-def="puzzleDef" w="300" padding="15"></gh-visualization>

<div class="transforms">
  {{ puzzleDef.transforms }}
</div>
<div class="answers">
  <gh-visualization puzzle-def="puzzleDef" w="100" padding="5" ans="1"></gh-visualization>

  <gh-visualization puzzle-def="puzzleDef" w="100" padding="5" ans="2"></gh-visualization>

  <gh-visualization puzzle-def="puzzleDef" w="100" padding="5" ans="3"></gh-visualization>

  <gh-visualization puzzle-def="puzzleDef" w="100" padding="5" ans="4"></gh-visualization>
</div>

<p>It's ok, the game is rendering</p>
