<header id="gameHeader" class="cf">
	<h1>Brain<span>Shark</span></h1>
	<nav>
		<ul>
			<li><a>How To Play</a></li>
			<li class="signIn"><a>Sign In</a></li>
		</ul>
	</nav>
</header>
	
<div id ="wrapper">
	

	
	<header id="puzzleHead" class="clear">
		<h1>Level 1</h1>
		<span class="level">Easy</span>
		
		<div id="timer">0:{{counter}}</div>

	</header>
			
	<div id="puzzle" class="cf">
		<div id="mainPuzzle">
			<gh-visualization puzzle-def="puzzleDef" w="300" padding="15" class="mainPuzzle"></gh-visualization>
		</div>	  
		<ul id="directions">
			<li ng-repeat="transform in puzzleDef.transforms">
			  <span ng-show="transform[0] == 'flip'" class="flip flip{{ transform[1] }}">Flip</span>
			  <span ng-show="transform[0] == 'rotate'" class="rotate rotate{{ transform[1] }}">{{ transform[1] }}&deg;</span>
			</li>
			<li>The Result:</li>
		</ul>
	</div>
	
	<div id="answers">  
		<ul>
		  <li ng-class="ans1" ng-click="handleGuess(1)"><gh-visualization puzzle-def="puzzleDef" w="100" ans="1"></gh-visualization></li>	
		  <li ng-class="ans2" ng-click="handleGuess(2)"><gh-visualization puzzle-def="puzzleDef" w="100" ans="2"></gh-visualization></li>
		  <li ng-class="ans3" ng-click="handleGuess(3)"><gh-visualization  puzzle-def="puzzleDef" w="100" ans="3"></gh-visualization></li>
		  <li ng-class="ans4" ng-click="handleGuess(4)"><gh-visualization puzzle-def="puzzleDef" w="100" ans="4"></gh-visualization></li>
		</ul>
	</div>

  	<center><br />{{ result }}</center>
</div>


<div id="gameNav">
	<a class="prev"><span>Previous Puzzle</span></a>
	<a class="reveal" ng-click="handleGuess(0)">Reveal Answer</a>
	<a class="next" ng-click="resetGame()"><span>Next Puzzle</span></a>
</div>

<footer id="mainFooter">
	<small>Powered By <img src="../images/eaglecode.png" alt="Eagle Code" width="24" height="26" /></small>
</footer>